<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

<style>
body {
    background-color: black;
    color:white;
}
</style>

<body ng-app="myApp" ng-controller="myCtrl">
<center>
    <p><img src="/Warcock.png"></p>
    <img src="https://imgur.com/S5mZt3g.gif">
    <H2>What is your question?</H2>

    <form name="myForm">
        <input type="text"size="80" spellcheck="true" id="question" name="myInput" ng-model="user.question" placeholder="Ask Your Question" required> 
        <button ng-click="postQuestion()">Get Woke</button> 
    </form>
    <div ng-view></div>
</center>
</body>
</html>

<script src="app.js" type="text/javascript"></script>


